@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --principal: #27374d;
  --segundo: #526d82;
  --tercero: #9db2bf;
  --cuarto: #dde6ed;
}
body {
  overflow: hidden;
}
.bgMain {
  background-color: #161f2b;
}
.hi {
  color: #eceff1;
}
.title {
  color: #d8d9da;
}
.parraf {
  color: #e9eef2;
}
.icons {
  font-size: 25px;
  transition: 0.2s ease-in;
}
.icons:hover {
  color: #ffffff;
  transition: 0.2s ease-in;
}
.glow {
  width: 120vh;
  height: 120vh;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  background: radial-gradient(
    circle,
    rgba(63, 94, 135, 0.149) 0%,
    rgba(63, 94, 135, 0.126) 20%,
    #526d8210 40%,
    #526d820e 60%,
    #526d8200 80%,
    rgba(0, 0, 255, 0) 100%
  );
  transform: translate(-50%, -50%);
  z-index: 9998;
}
.enlaces {
  background-image: linear-gradient(
    to right,
    #ffffff,
    #efefef 50%,
    #c5c5c5 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.enlaces:before {
  content: "";
  background: #f6f6f6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

.enlaces:hover {
  background-position: 0;
}

.enlaces:hover::before {
  width: 100%;
}
@media (max-width: 790px) {
  .glow {
    display: none;
  }
}
