@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --principal: #27374d;
  --segundo: #526d82;
  --tercero: #9db2bf;
  --cuarto: #dde6ed;
}

.bgMain {
  background-color: #161f2b;
}
.hi {
  color: #dde6ed;
}
.title {
  color: #9db2bf;
}
.parraf {
  color: #dde6ed;
}
